html,
body{
    height: 100%;
}

body{
    background-color: tan;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    margin: 100px 10px 10px 10px;
}

h1,
.container p,
.scoreboard{
    text-align: center;
}

.scoreboard,
.selections,
.buttons{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height: 7em;
}

.container p{
    font-size: 26px;
}

.scoreboard{
    gap: 150px;
}

.score{
    margin-top: 15px;
    font-size: 36px;
    font-weight: 600;
}

.profile p{
    font-size: 1.6em;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.selections{
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.selections p{
    font-size: 1.4em;
}

.selections div{

}

.buttons{
    gap: 5em;
    padding: 1em 2em;
}

button img{
    padding-top: 20px;
}

.buttons button{
    height: 14em;
    width: 200px;
    background-color: rgb(160, 125, 60);
    border: none;
    box-shadow:5px 5px rgb(136, 123, 109);
}

.buttons button:hover{
    background-color: rgb(180, 145, 80);
}

.buttons button:active{
    background-color: rgb(200, 165, 100);
    transform: translateY(7px); 
    box-shadow:6px 6px rgb(67, 88, 93);
}

a{
    margin-top: 40px;
    text-decoration: none;
    color: rgb(73, 68, 63);
}

#overlay{
    display: none;
}

#popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}